{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Create New Post{% endblock %}

{% block content %}
<div class="from-group" style="margin: 100px;">
    <form method="post" class="form-group">{% csrf_token %}
            
                {{ form|crispy }}

        <input type="submit" class="btn btn-secondary" value="Create">
    </form>
</div>

<!-- <div style="margin: 60px;">
<form method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Send message">
</form>
</div> -->
{% endblock %}
