{% extends "base.html" %}

{% block content %}


<div>
    <div class="detail">
        <img src="{{ post.image_url|default_if_none:'#' }}" alt="">
        <h2 style="margin-top: 60px;" >{{post.title}}</h2>
        <p class="fs-5 text-justify" >content : {{post.content}}</p>
        <p>Time : {{post.update}}</p>
        <p>author : {{post.user}}</p>
        <img class="profile-pic" src="{{ post.user.image_url }}" alt="" >
    </div>
    <div style="display: flex;">
        <a href='{% url "post-update" post.pk %}'>
            <button style="margin: 10px;" type="button" class="btn btn-primary">update</button>
        </a>
        
        <a href='{% url "post-delete" post.pk %}'>
            <button style="margin: 10px;" type="button" class="btn btn-danger">delete</button>
        </a>
    </div>

</div>
<h2> Comments </h2>

{% if user.is_authenticated %}
<form action="" method="POST" id="main_form" class="comment_form">
    <div>
        <label for="comment">Type Comment here</label>
        {{ comment_form.content }} {% csrf_token %} <input type="submit" value="Post">
    </div>
    </div>
</form>
{% else %} <h2>You need to Login to comment</h2>
{% endif %}

{% for comment in comments %}
{% if comment.is_parent %}
<h3> <b>{{ comment.author }} : </b> {{ comment.content }}</h3>
{% endif %}
{% for replies in comment.children %}
<h3>&nbsp; &nbsp; &nbsp; <b>{{ comment.author }} : </b> {{ replies.content }}</h3>
{% endfor %}
{% endfor %}
{% endblock %}