{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Details of post</title>
    
    <style>
        body {
            font-family: 'IBM Plex Sans', sans-serif;
        }

        

    </style>
</head>
<body>
{% block content %}
<div class="detail">
    <h2 style="margin-top: 60px;" >{{post.title}}</h2>
    <p>content : {{post.content}}</p>
    <p>time : {{post.update}}</p>
    <p>author : {{post.user}}</p>
</div>

    <div style="display: flex;">
        <a href='{% url "post-update" post.pk %}'>
            <button style="margin: 10px;" type="button" class="btn btn-primary">update</button>
        </a>
        
        <a href='{% url "post-delete" post.pk %}'>
            <button style="margin: 10px;" type="button" class="btn btn-danger">delete</button>
        </a>
    </div>
{% endblock %}
</body>

</html>